<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.example.permission.MY_BROADCAST"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.permission.ORDERED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroadcastTest2">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        静态注册 start-->
        <!--        <receiver-->
        <!--            android:name=".AnotherBroadcastReceiver"-->
        <!--            android:exported="true">   &lt;!&ndash; ⭐ 核心 &ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.example.MY_GLOBAL_BROADCAST" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!--        静态注册 end-->

        <receiver
            android:name=".AnotherBroadcastReceiver"
            android:exported="true"
            android:permission="com.example.permission.ORDERED" />

    </application>


</manifest>